coreapi
Django
django-ckeditor-5
django-cors-headers
django-environ
django-extensions
django-geojson
django-leaflet
django-polymorphic
django-sortedm2m
djangorestframework
drf-extensions
drf-yasg
jsonfield
markdown
pillow
psycopg2
raven
